<div class="d-flex justify-content-between align-items-center  m-3 ">
    <h1 class="">Todas las Situaciones
    </h1>
</div>
{{#each users}}
<h4 class="d-inline card-header text-info mx-auto">{{Name}}</h4>
<div class="row m-3">
        {{#each userSits}}
        <div class="col-md-3">
            <div class="d-flex bg-primary ">
                
                <h4 class="d-inline card-header mx-auto">{{title}}</h4>
            </div>
            <div class="card d-flex justify-content-between">
                <div class="card-body">
                    <p>{{situation}} </p>    
                    <div class="d-flex">
                        <form class="d-inline" action="/sit/delete/{{_id}}?_method=DELETE" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger btn-block btn-sm">Eliminar</button>
                        </form>
                        <a class="elimsub d-inline ms-auto" href="/sit/{{_id}}">
                            <p class="d-inline ms-auto link-dark">Preguntas</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-square-fill" viewBox="0 0 16 16">
                            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 4a.5.5 0 0 0-.374.832l4 4.5a.5.5 0 0 0 .748 0l4-4.5A.5.5 0 0 0 12 6H4z"/>
                            </svg>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
</div>
{{/each}}