<div class="d-flex justify-content-between align-items-center  m-3 ">
    <h1 class="">Situaciones
    </h1>
    <a class="btn btn-primary btn-block btn-sm" href="/sit/add">Agregar otra</a> 
</div>
<div class="row m-3">
    {{#each situations}}
        <div class="col-md-3">
            <div class="d-flex bg-primary ">
                <h4 class="d-inline card-header mx-auto">{{title}}</h5>
                <a class="d-inline ms-auto m-3 link-dark" href="/sit/edit/{{_id}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                    </svg>
                </a>
            </div>
            <div class="card d-flex justify-content-between">
                <div class="card-body">
                    <p>{{situation}} </p>    
                    <div class="d-flex">
                        <form class="d-inline" action="/sit/delete/{{_id}}?_method=DELETE" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger btn-block btn-sm">Eliminar</button>
                        </form>
                        <a class="elimsub d-inline ms-auto" href="/asks/add/{{_id}}">
                            <p class="d-inline ms-auto link-dark">Preguntar</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-square-fill" viewBox="0 0 16 16">
                            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 4a.5.5 0 0 0-.374.832l4 4.5a.5.5 0 0 0 .748 0l4-4.5A.5.5 0 0 0 12 6H4z"/>
                            </svg>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>